/* Estilos para los cards */
.card-container {
    display: flex;
    justify-content: center; 
    align-items: start;
    flex-wrap: wrap;
    margin: 10px;
    gap: 10px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 250px;
    text-align: center; /* Centrar el contenido */
}

.card img {
    max-width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card h2 {
    font-size: 18px;
}

.card p {
    font-size: 14px;
}
