<main class="main" id="home">
  <div class="container section">
    <h1 class="titleHome"
      >Bienvenidos a la distribucion en linea de
      resposteria</h1
    >
    <p class="leyend">Mas de 15 distribuidores</p>
    <button class="btn"
      >!Encuentra el mejor distribuidor¡</button
    >
  </div>
</main>
