<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./components/head'); %>
    <link
      rel="stylesheet"
      href="/styles/header/header.css"
    />
    <link rel="stylesheet" href="/styles/home/home.css" />
    <link rel="stylesheet" href="/styles/about/about.css" />
    <link rel="stylesheet" href="/styles/menu/menu.css" />
  </head>
  <body>
    <%- include('./components/header/header'); %>
    <main class="main" id="home">
      <div class="container section">
        <h1 class="titleHome"
          >Bienvenidos a la distribucion en linea de
          resposteria</h1
        >
        <p class="leyend">Mas de 15 distribuidores</p>
        <button class="btn"
          >!Encuentra el mejor distribuidor¡</button
        >
      </div>
    </main>

    <div class="container-ab" id="about">
      <div class="container-left">
        <h2>Acerca de la Aplicacion "Panorama</h2>
        <p
          ><strong>Panorama</strong> es una innovadora
          plataforma que reúne a diversas panaderías y
          tiendas de distribución de pan en un solo lugar,
          brindando a los amantes del pan la oportunidad de
          explorar, comprar y disfrutar de una amplia
          variedad de productos panaderos de calidad, todo
          desde la comodidad de su hogar.</p
        >
        <h3>Nuestra Misión</h3>
        <p
          >En <strong>Panorama</strong>, nos dedicamos a
          ofrecer la mejor experiencia a nuestros usuarios y
          a apoyar a panaderías locales a expandir su
          presencia en línea. Creemos que cada bocado de pan
          debería ser una delicia, y estamos comprometidos a
          hacer que la compra de pan sea más conveniente y
          deliciosa que nunca.</p
        >
      </div>
      <div class="container-right">
        <h3>Características Destacadas</h3>
        <ul>
          <li
            ><strong>Explora una Amplia Variedad:</strong>
            Descubre una selección diversa de panes frescos,
            desde baguettes crujientes hasta bollos suaves y
            sabrosos.</li
          >
          <li
            ><strong>Tiendas Locales de Confianza:</strong>
            Trabajamos con panaderías locales de renombre
            que se enorgullecen de sus productos de alta
            calidad.</li
          >
          <li
            ><strong>Entrega a Domicilio:</strong> Olvídate
            de hacer filas. Te llevamos el pan fresco
            directamente a tu puerta.</li
          >
          <li
            ><strong>Pedidos Personalizados:</strong>
            Personaliza tus pedidos según tus preferencias y
            necesidades.</li
          >
          <li
            ><strong>Comunidad de Amantes del Pan:</strong>
            Únete a una comunidad de personas que comparten
            tu amor por el pan y descubre nuevas delicias
            panaderas.</li
          >
        </ul>
      </div>
    </div>

    <h2 id="menu">Productos</h2>
    <div class="menu">
      <div class="menu-item">
        <img src="assets/img/panCasero.jpg" alt="Pan 1" />
        <h3>Pan de Centeno</h3>
        <p>Delicioso pan de centeno recién horneado.</p>
        <span class="price">$5.99</span>
      </div>
      <div class="menu-item">
        <img src="assets/img/panFresco.jpg" alt="Pan 2" />
        <h3>Bollos de Canela</h3>
        <p>Esponjosos bollos de canela con glaseado.</p>
        <span class="price">$3.99</span>
      </div>
    </div>
  </body>
</html>
