<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./components/head/head'); %>
    <link rel="stylesheet" href="/styles/store/cardStore.css">
    <link rel="stylesheet" href="/styles/store/header.css">
    <link rel="stylesheet" href="/styles/logout.css">
  </head>
  <body>
    <header>
      <h1>Explora Nuestras Tiendas</h1>
      <p
        >Descubre una variedad de tiendas en un solo
        lugar</p
      >
      <%- include('./components/logout'); %>
    </header>
    <div class="card-container">
      <!-- Los cards se generarán dinámicamente aquí mediante JavaScript -->
    </div>
    <script src="/js/store/cardsStore.js"></script>
  </body>
</html>
