<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./components/head/head'); %>
  </head>
  <body>
    <header>
      <h1>Explora Nuestras Tiendas</h1>
      <p
        >Descubre una variedad de tiendas en un solo
        lugar</p
      >
    </header>
    <div class="card-container">
      <!-- Los cards se generarán dinámicamente aquí mediante JavaScript -->
    </div>
    <script src="js/store/cardsStore.js"></script>
  </body>
</html>
