<head>
  <meta charset="UTF-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  />
  <meta
    property="og:title"
    content="Título de tu sitio web"
  />
  <meta
    property="og:description"
    content="Descripción de tu sitio web"
  />
  <meta property="og:image" content="URL_de_la_imagen" />
  <meta property="og:url" content="URL_de_tu_sitio_web" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  />

  <title>EASYDISTRO</title>
  <link
    rel="stylesheet"
    href="./styles/landyn/header.css"
  />
  <link rel="stylesheet" href="/styles/store/header.css" />
  <link
    rel="stylesheet"
    href="/styles/store/cardStore.css"
  />
</head>
