
<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0"
/>
<meta
  property="og:title"
  content="EASYDISTRO"
/>
<meta
  property="og:description"
  content="Sitio de convivencia de tiendas para eleccion del cliente"
/>
<meta property="og:image" content="/assets/img/backHome.jpg" />
<meta property="og:url" content="http://192.168.101.6:3000" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
/>
<title>EASYDISTRO</title>

