<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0"
/>
<meta
  property="og:title"
  content="Título de tu sitio web"
/>
<meta
  property="og:description"
  content="Descripción de tu sitio web"
/>
<meta property="og:image" content="URL_de_la_imagen" />
<meta property="og:url" content="URL_de_tu_sitio_web" />

<title>EASYDISTRO</title>
