<% if (redirectTo) { %>
    <a href="<%= redirectTo %>" class="redirect-button">
      Ir a la página
    </a>
  <% } else { %>
    <p class="no-redirect">No se proporcionó URL de redirección.</p>
  <% } %>
  